@font-face {
    font-family: 'montserratLight';
    src: url('montserrat-light.woff2') format('woff2'),
        url('montserrat-light.woff') format('woff'),
        url('montserrat-light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* td {
	font-size: 12px;
	font-family: arial, sans-serif;
 	text-align: center;
} */
#setup {
    display: none;
    margin: 15px;
}

#moneybar {
    float: right;
    border: 0px solid black;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    display: none;
    z-index: 14;
    position: relative;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

#moneybar table {
    font-weight: bold;
    border-spacing: 1px;
}

#moneybarwrap {
    position: absolute;
    min-width: 135px;
    top: 0px;
    right: 0px;
    -webkit-user-select: none;
    user-select: none;
}

#propertystats {
    margin-right: 110px;
}

#refresh {
    display: none;
    margin: 15px;
}

#noF5 {
    display: none;
    font-family: monospace;
    color: red;
    width: 75%;
}

#noscript {
    margin-left: 10px;
}

#jail {
    /* border: 1px solid black;
    height: 65px;
    width: 65px;
    position: relative;
    top: 73px;
    left: -73px;
    z-index: 2; */
    display: none;
}

#diesPosi {
    z-index: 9;
    position: relative;
}

#control {
    /* position: absolute;
    z-index: 9;
    top: 250px;
    left: 250px;
    border: 2px solid black;
    padding: 10px;
    display: none;
    background-color: white; */
    float: right;
}

#quickstats {
    font-size: 12px;
    font-weight: bold;
    font-family: arial, sans-serif;
    border: 2px solid blue;
    margin: 5px;
    padding: 3px;
    width: 80px;
}

#pname {
    background-color: white;
}

#landed {
    padding: 3px;
    border: 1px solid gray;
    border-top: none;
    width: 302px;
    margin: 0px;
    text-align: center;
}

#alert {
    width: 99%;
    height: 92px;
    margin: 0px;
    padding-left: 1px;
    border: 1px solid gray;
    font-family: Consolas, "Courier New", monospace;
    font-size: 13px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

#manage {
    width: 308px;
    border: 1px solid gray;
    display: none;
}

#option {
    border-bottom: 1px solid gray;
    background-color: white;
    display: none;
    background: white;
    vertical-align: middle;
    padding: 3px;
    text-align: center;
    min-height: 26px;
}

#buildings {
    margin: auto;
    height: 21px;
    font-size: 16px;
    font-weight: bold;
}

#buildings .house {
    width: 25px;
    height: 19px;
    vertical-align: top;
    float: none;
}

#buildings .hotel {
    width: 26px;
    height: 19px;
    vertical-align: top;
    float: none;
}

#owned {
    padding: 3px 0px;
    background-color: white;
    text-align: center;
    max-height: 390px;
    overflow-y: auto;
}

#owned .propertycellname {
    vertical-align: top;
}

#property {
    margin-right: 1px;
    background: white;
}

#trade {
    border: 2px solid black;
    display: none;
    width: 630px;
    margin: 15px auto;
    background-color: white;
    border-radius: 8px;
    padding: 2px;
    z-index: 14;
}

#trade-leftp-name {
    font-size: 13px;
    font-weight: bold;
}

#trade-leftp-name option {
    font-size: 13px;
    font-weight: normal;
}

#trade-rightp-name {
    font-size: 13px;
    font-weight: bold;
}

#trade-rightp-name option {
    font-size: 13px;
    font-weight: normal;
}

#trade-leftp-money {
    width: 90%;
}

#trade-rightp-money {
    width: 90%;
}

#deedcolor {
    background: white;
    width: 100%;
    height: 48px;
}

#deedname {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
}

#menu {
    width: 100%;
    height: 32px;
    margin: 0px 0px;
}

#menutable {
    padding: 0px;
    text-align: left;
    font-family: arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid blue;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    width: 99%;
    margin: 0px;
    background-color: #305BC9;
    /* background-image: -webkit-linear-gradient(bottom,#213EB2,#4787ED);
	background-image: -moz-linear-gradient(bottom,#213EB2,#4787ED); */
    background-image: url(images/menu_background.png);
    /* background-repeat: repeat-x; */
    overflow: hidden;
}

#menutable td {
    vertical-align: top;
}

#menu a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 8px;
}

#buy-menu-item {
    color: #FFFFFF;
    margin-left: 2px;
    border-left: none;
}

#trade-menu-item {
    color: #AAAAAA;
    border-right: none;
    margin-right: 2px;
}

#popup {
    width: 300px;
    min-width: 300px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: block;
    z-index: 13;
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
}

#popupwrap {
    position: absolute;
    top: 255px;
    left: 0px;
    width: 100%;
    display: none;
    background-color: transparent;
    z-index: 13;
    -webkit-user-select: none;
    user-select: none;
}

#popuptext {
    overflow-x: auto;
}

/* #popupclose {
	display: none;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 12;
} */
#popupclose input {
    margin: 0px;
    background-color: red;
    height: 18px;
    width: 18px;
    padding: 0px;
}

#popupbackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0.5;
    display: none;
    z-index: 10;
}

#popupdrag {
    width: 100%;
    height: 16px;
    position: absolute;
    top: -16px;
    cursor: move;
}

#stats {
    max-width: 914px;
    min-width: 454px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: block;
    z-index: 17;
    margin: auto;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-user-select: none;
    user-select: none;
}

#statswrap {
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
    display: none;
    background-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

#statstext {
    overflow: hidden;
    min-height: 70px;
}

#statsclose {
    display: block;
    position: absolute;
    top: -24px;
    right: -25px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    overflow: visible;
    z-index: 17;
}

#statsbackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .5;
    display: none;
    z-index: 16;
}

#statsdrag {
    width: 100%;
    height: 16px;
    position: absolute;
    top: -16px;
    cursor: move;
}

#deed {
    display: none;
    position: fixed;
    border: 2px solid black;
    /* width: 235px; */
    /* height: 275px; */
    background-color: white;
    z-index: 18;
    -webkit-user-select: none;
    user-select: none;
    /* width: 400px; */
    /* height: 270px; */
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin: 5px;
    perspective: 1000px;
    /* transition: all 350ms;
    transform-style: preserve-3d;
    transform: scale(0.5) translateX(-50%) translateY(-50%);
    -webkit-transform: scale(0.5) translateX(-50%) translateY(-50%);
    -moz-transform: scale(0.5) translateX(-50%) translateY(-50%);
    -ms-transform: scale(0.5) translateX(-50%) translateY(-50%); */
}

#deed td {
    border: none;
}

#deed-header {
    width: 215px;
    height: 48px;
    border: 1px solid black;
    margin: 9px;
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;
    font-family: Calibri, Arial;
}

#deed-name {
    font-size: 15px;
    font-weight: bold;
}

#deed-table {
    margin: 9px;
    width: 217px;
    border-spacing: 1px;
}

#deed-mortgaged {
    font-family: Calibri, Arial;
    font-size: 16px;
    text-align: center;
}

#deed-mortgaged-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 20px 20px;
}

#deed-special {
    font-family: Calibri, Arial;
    text-align: justify;
}

#deed-special-name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px 0px;
    text-transform: uppercase;
    margin: 50px 20px 20px;
}

#deed-special-text {
    margin: 20px;
    font-size: 15px;
}

#deed-special-footer {
    margin: 0px 20px;
    width: 195px;
    position: absolute;
    bottom: 20px;
    font-size: 16px;
}

#enlarge-wrap {
    border: none;
    z-index: 0;
}

.menu-item:hover {
    /* background-image: -webkit-linear-gradient(bottom,#000080,#4787ED);
	background-image: -moz-linear-gradient(bottom,#000080,#4787ED); */
    background-image: url(images/menu_background_hover.png);
}

.menu-item {
    padding: 0px;
    border-collapse: collapse;
    text-align: center;
    display: table-cell;
    background-color: transparent;
    border: none;
    border-right: 2px solid white;
    height: 30px;
    min-width: 90px;
    width: 90px;
    max-width: 90px;
    overflow: hidden;
}

.die {
    display: none;
    margin: 5px;
    float: left;
}

.die-no-img {
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px 10px;
}

.house {
    width: 25px;
    height: 19px;
    vertical-align: middle;
    float: right;
}

.hotel {
    width: 26px;
    height: 19px;
    vertical-align: middle;
    float: right;
}

.cell {
    /* position: relative; */
    /* top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px; */
}

.board-center {
    /* width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px; */
}

.board-corner {
    /* width: 102px;
    height: 102px; */
}

.board-top {
    /* width: 72px;
    height: 112px; */
}

.board-bottom {
    /* width: 130px;
    height: 112px; */
}

.board-left {
    /*    
    -ms-transform: rotate(90deg);
     
    -webkit-transform: rotate(90deg);
   
    transform: rotate(90deg); */
}

.board-right {
    /*  
    -ms-transform: rotate(270deg);
    
    -webkit-transform: rotate(270deg);
    
    transform: rotate(270deg); */
}

.enlarge {
    width: 150px;
    height: 200px;
    display: none;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
    font-family: arial, sans-serif;
    position: fixed;
    z-index: 15;
}

.enlarge-color {
    background: white;
    width: 100%;
    height: 40px;
}

.enlarge-name {
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    height: 45px;
}

.enlarge-price {
    background-color: white;
    vertical-align: bottom;
    height: 25px;
}

.enlarge-token {
    height: 45px;
    width: 150px;
}

.moneybarcell {
    width: 83px;
    min-width: 83px;
}

.moneybararrowcell {
    background: white;
    width: 30px;
    border: none;
    text-align: right;
    padding: 0px;
}

.money-bar-arrow {
    height: 30px;
    width: 30px;
}

.propertycellcheckbox {
    width: 20px;
    height: 20px;
    border: none;
    vertical-align: middle;
}

.propertycellcolor {
    padding: 0px;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.propertycellname {
    height: 20px;
    width: 250px;
    border: none;
    cursor: default;
    text-align: left;
    vertical-align: middle;
}

.propertycelldeed {
    width: 18px;
    height: 20px;
    border: 1px solid grey;
    cursor: pointer;
    display: none;
}

.statscellcolor {
    padding: 0px;
    width: 22px;
    height: 20px;
    border: none;
}

.statscellname {
    height: 20px;
    border: none;
    cursor: default;
    text-align: left;
    min-width: 172px;
}

.statsplayername {
    font-weight: bold;
    font-size: 24px;
}

.statscell {
    border: 2px solid black;
    padding: 8px;
    vertical-align: top;
    width: 202px;
    min-width: 115px;
}

.trade-cell {
    /* border: none;
    border-radius: 3px;
    width: 308px;
    height: 26px;
    vertical-align: middle; */
}

.cell-anchor {
    /* width: 100%;
    height: 100%;
    position: relative; */
    /*  bottom: 0px;
    left: 0px; */
    /* margin-left: -5px; */
}

.cell-name {
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-size: 10px;
    width: 100%; */
}

.cell-position-holder {
    /* width: 100%;
    height: 100%;
    z-index: 1;
    position: relative; */
}

.cell-position {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url("images/playing-pieces.gif") -28px 24px;
    background-size: 100px;
}

.cell-owner {
    background-size: cover;
    display: none;
    position: absolute;
}

.board-top .cell-owner {
    background-image: url("images/hori-bar.png");
    height: 15px;
    left: 0px;
    top: -25px;
    width: 14px;
}

.board-bottom .cell-owner {
    background-image: url("images/hori-bar.png");
    bottom: -25px;
    height: 15px;
    left: 0px;
    width: 14px;
}

.board-left .cell-owner {
    background-image: url("images/vert-bar.png");
    height: 14px;
    left: -25px;
    top: 0px;
    width: 15px;
}

.board-right .cell-owner {
    background-image: url("images/vert-bar.png");
    height: 14px;
    right: -25px;
    top: 0px;
    width: 14px;
}

body {
    font-family: montserratLight, sans-serif;
    margin: 0;
    padding: 10px;
}

.title-deed {
    position: absolute;
    width: 200px;
    height: 294px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    perspective: 1000px;
    transition: all 1s;
    transform-style: preserve-3d;
    transform: scale(0.45);
    -webkit-transform: scale(0.45) translateX(-60%) translateY(-60%);
    -moz-transform: scale(0.45) translateX(-60%) translateY(-60%);
    -ms-transform: scale(0.45) translateX(-60%) translateY(-60%);
}

.title-deed h3,
.title-deed h4,
.title-deed h5,
.title-deed h6 {
    font-size: 12px;
    margin: 5px 0;
}

.title-deed h3 {
    font-size: 14px;
    margin: 10px 0;
}

.title-deed h4 {
    text-transform: uppercase;
    margin: 10px 0;
}

.title-deed h6 {
    font-size: 11px;
}

.title-deed .front {
    transform: rotateY(0deg);
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background-color: rgb(255, 255, 255);
}

.title-deed .back {
    transform: rotateY(180deg);
    background-color: rgb(231, 26, 35);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    color: rgb(255, 255, 255);
}

.title-deed .back h3 {
    border: 2px solid rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 21px;
    padding: 40px 0;
    margin: 0;
}

.title-deed .back h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0;
}

.title-deed .back h5 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
}

.title-deed .back p {
    font-size: 11px;
    border: 2px solid rgb(255, 255, 255);
    width: calc(100% - 34px);
    position: absolute;
    bottom: 5px;
    margin: 0;
    padding: 55px 10px 20px 10px;
}

.title-deed .front,
.title-deed .back {
    padding: 5px;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.title-deed .front .header {
    text-transform: uppercase;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.title-deed .front .header.brown {
    background-color: rgb(149, 84, 54);
    color: rgb(255, 255, 255);
}

.title-deed .front .header.light-blue {
    background-color: rgb(170, 224, 250);
}

.title-deed .front .header.pink {
    background-color: rgb(217, 58, 150);
    color: rgb(255, 255, 255);
}

.title-deed .front .header.orange {
    background-color: rgb(247, 148, 29);
}

.title-deed .front .header.red {
    background-color: rgb(231, 26, 35);
    color: rgb(255, 255, 255);
}

.title-deed .front .header.yellow {
    background-color: rgb(254, 242, 0);
}

.title-deed .front .header.green {
    background-color: rgb(31, 178, 90);
}

.title-deed .front .header.dark-blue {
    background-color: rgb(0, 114, 187);
    color: rgb(255, 255, 255);
}

.title-deed .front dl {
    margin: 10px 0;
    font-size: 12px;
    line-height: 18px;
}

.title-deed .front dl dt {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    width: calc(100% - 80px);
    text-align: left;
}

.title-deed .front dl dd {
    font-size: 12px;
    display: inline-block;
    width: 75px;
    margin: 0;
    text-align: right;
}

.title-deed.station .header {
    border: none;
    background-image: url(/images/station.gif);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 100px;
    height: 150px;
    position: relative;
}

.title-deed.station .header h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-deed.station h5 {
    text-transform: uppercase;
}

.title-deed.water-works .header {
    border: none;
    background-image: url(/images/water-works.gif);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 100px;
    height: 150px;
    position: relative;
}

.title-deed.water-works .header h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-deed.water-works p {
    padding: 0 20px;
}

.title-deed.electric-company .header {
    border: none;
    background-image: url(/images/electric-company.gif);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 100px;
    height: 150px;
    position: relative;
}

.title-deed.electric-company .header h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-deed.electric-company p {
    padding: 0 20px;
}

.title-deed.station .front dl dt {
    width: calc(100% - 35px);
}

.title-deed.station .front dl dd {
    width: 30px;
}

#players {
    width: calc(100% - 1030px);
    max-width: 400px;
    height: 1010px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    position: relative;
}

#players .player {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    min-height: 80px;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 0;
    overflow: hidden;
    transition: z-index 350ms step-end, top 350ms, min-height 350ms;
    -webkit-transition: z-index 350ms step-end, top 350ms, min-height 350ms;
    -moz-transition: z-index 350ms step-end, top 350ms, min-height 350ms;
    -ms-transition: z-index 350ms step-end, top 350ms, min-height 350ms;
}

#players .player:nth-child(1) {
    background-color: rgb(218, 240, 250);
    top: 0;
}

#players .player:nth-child(2) {
    background-color: rgb(245, 163, 167);
    top: 100px;
}

#players .player:nth-child(3) {
    background-color: rgb(255, 250, 153);
    top: 200px;
}

#players .player:nth-child(4) {
    background-color: rgb(165, 224, 189);
    top: 300px;
}

#players .player:nth-child(5) {
    background-color: rgb(252, 212, 164);
    top: 400px;
}

#players .player:nth-child(6) {
    background-color: rgb(153, 198, 228);
    top: 500px;
}

#players .player.active {
    min-height: 780px;
    top: 0;
    z-index: 10;
    transition: z-index 350ms step-start, top 350ms, min-height 350ms;
}

#players .player .properties {
    margin-top: 10px;
    position: absolute;
}

#players .player .properties.active {
    z-index: 10;
    height: 100%;
}

#players .player .properties .shield {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100px;
    left: 0;
    z-index: 5;
}

#players .player .properties.active .shield {
    display: block;
}

#players .player .properties.active .row>div {
    opacity: 0.3;
}

#players .player .properties.active .row>div.active {
    opacity: 1;
}

#players .player .properties .row>div .title-deed {
    transition: z-index 350ms step-end, left 350ms, top 350ms, transform 350ms;
    -webkit-transition: z-index 350ms step-end, left 350ms, top 350ms, -webkit-transform 350ms;
    -moz-transition: z-index 350ms step-end, left: 350ms, top 350ms, -moz-transform 350ms;
    -ms-transition: z-index 350ms step-end, left: 350ms, top 350ms, -ms-transform 350ms;
}

#players .player .properties .row>div.active .title-deed {
    transform: scale(1);
    -webkit-transform: scale(1) translateX(0) translateY(0);
    -moz-transform: scale(1) translateX(0) translateY(0);
    -ms-transform: scale(1) translateX(0) translateY(0);
    z-index: 10;
    transition: z-index 350ms step-start, left 350ms, top 350ms, transform 350ms;
    -webkit-transition: z-index 350ms step-start, left 350ms, top 350ms, -webkit-transform 350ms;
    -moz-transition: z-index 350ms step-start, left: 350ms, top 350ms, -moz-transform 350ms;
    -ms-transition: z-index 350ms step-start, left: 350ms, top 350ms, -ms-transform 350ms;
}

#players .player .properties .row>div.active .title-deed.mortgaged {
    transform: scale(1) translateX(0) translateY(0) rotateY(180deg) !important;
    -webkit-transform: scale(1) translateX(0) translateY(0) rotateY(180deg) !important;
    -moz-transform: scale(1) translateX(0) translateY(0) rotateY(180deg) !important;
    -ms-transform: scale(1) translateX(0) translateY(0) rotateY(180deg) !important;
}

#players .player .properties .row>div .title-deed.mortgaged {
    transform: scale(0.45) translateX(-60%) translateY(-60%) rotateY(180deg) !important;
    -webkit-transform: scale(0.45) translateX(-60%) translateY(-60%) rotateY(180deg) !important;
    -moz-transform: scale(0.45) translateX(-60%) translateY(-60%) rotateY(180deg) !important;
    -ms-transform: scale(0.45) translateX(-60%) translateY(-60%) rotateY(180deg) !important;
}

#players .player .properties .row>div {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 200px;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: left 350ms, top 350ms, opacity 350ms;
    -webkit-transition: left 350ms, top 350ms, opacity 350ms;
    -moz-transition: left 350ms, top 350ms, opacity 350ms;
    -ms-transition: left 350ms, top 350ms, opacity 350ms;
}

#players .player .properties .row>div.active:nth-child(1) {
    left: -10px;
}

#players .player .properties .row>div.active:nth-child(2) {
    left: -105px;
}

#players .player .properties .row>div.active:nth-child(3) {
    left: -200px;
}

#players .player .properties .row>div.active:nth-child(4) {
    left: -295px;
}

#players .player .properties .row:nth-child(2)>div.active {
    top: -205px;
}

#players .player .properties .row:nth-child(3)>div.active {
    top: -410px;
}

#players .player .properties .row>div .title-deed:nth-child(1) {
    top: 0;
}

#players .player .properties .row>div .title-deed:nth-child(2) {
    top: 30px;
    left: 0;
}

#players .player .properties .row>div .title-deed:nth-child(3) {
    top: 60px;
    left: 0;
}

#players .player .properties .row>div .title-deed:nth-child(4) {
    top: 90px;
    left: 0;
}

#players .player .properties .row>div.active .title-deed:nth-child(2) {
    top: 0;
    left: 200px;
}

#players .player .properties .row>div.active .title-deed:nth-child(3) {
    top: 295px;
    left: 0;
}

#players .player .properties .row>div.active .title-deed:nth-child(4) {
    top: 295px;
    left: 200px;
}

.playing-piece {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(/images/playing-pieces.gif);
    background-size: 380%;
    display: inline-block;
    vertical-align: top;
}

#players .money {
    font-size: 50px;
    display: inline-block;
    vertical-align: top;
    line-height: 80px;
    width: calc(100% - 85px);
    text-align: right;
    letter-spacing: 0.05em;
}

#players .money:before {
    content: '£';
}

.thimble .playing-piece {
    background-position: 11px -5px;
}

.wheelbarrow .playing-piece {
    background-position: -67px -5px;
}

.boot .playing-piece {
    background-position: -147px -5px;
}

.dog .playing-piece {
    background-position: -227px -5px;
}

.car .playing-piece {
    background-position: -3px -97px;
}

.iron .playing-piece {
    background-position: -78px -89px;
}

.hat .playing-piece {
    background-position: -154px -89px;
}

.battleship .playing-piece {
    background-position: -231px -89px;
}

#board {
    width: 1006px;
    height: 1010px;
    display: none;
    background-color: rgb(205,230,208);
    border: 3px solid black;
    position: relative;
    vertical-align: top;
    margin-left:10%; 
}
.square.corner{
    width: 130px;
}
.cell {
    width: 80px;
    height: 130px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
}

.cell.corner {
    /* width: 130px; */
    /* width: auto;
    border: none; */
}

.cell.corner h3 {
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
}

.cell.corner:nth-of-type(1) h3 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cell.corner:nth-of-type(11) h3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cell.corner:nth-of-type(21) h3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cell.corner:nth-of-type(31) h3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cell h3 {
    margin: 10px 0;
    padding: 0 5px;
    font-size: 10px;
    word-wrap: break-word;
}

.cell h4 {
    margin: 10px 0;
    padding: 0;
    font-size: 8px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Bottom row */
.cell:nth-child(1) {
    bottom: 0;
    right: 0;
}

.cell:nth-child(2) {
    bottom: 0px;
    right: 130px;
}

.cell:nth-child(3) {
    bottom: 0px;
    right: 213px;
}

.cell:nth-child(4) {
    bottom: 0px;
    right: 296px;
}

.cell:nth-child(5) {
    bottom: 0px;
    right: 379px;
}

.cell:nth-child(6) {
    bottom: 0px;
    right: 462px;
}

.cell:nth-child(7) {
    bottom: 0px;
    right: 545px;
}

.cell:nth-child(8) {
    bottom: 0px;
    right: 628px;
}

.cell:nth-child(9) {
    bottom: 0px;
    right: 711px;
}

.cell:nth-child(10) {
    bottom: 0px;
    right: 794px;
}

.cell:nth-child(11) {
    bottom: 0px;
    right: 874px;
}

/* Left row */
.cell:nth-child(12) {
    bottom: 108px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

#board .cell:nth-child(13) {
    bottom: 191px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(14) {
    bottom: 274px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(15) {
    bottom: 357px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(16) {
    bottom: 440px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(17) {
    bottom: 523px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(18) {
    bottom: 606px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(19) {
    bottom: 689px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(20) {
    bottom: 772px;
    right: 899px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.cell:nth-child(21) {
    bottom: 880px;
    right: 874px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

/* Top row */
.cell:nth-child(22) {
    top: 0px;
    left: 132px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(23) {
    top: 0px;
    left: 215px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(24) {
    top: 0px;
    left: 298px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(25) {
    top: 0px;
    left: 381px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(26) {
    top: 0px;
    left: 464px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(27) {
    top: 0px;
    left: 547px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(28) {
    top: 0px;
    left: 630px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(29) {
    top: 0px;
    left: 713px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(30) {
    top: 0px;
    left: 796px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cell:nth-child(31) {
    top: 0px;
    left: 876px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Right row */
.cell:nth-child(32) {
    left: 901px;
    top: 108px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(33) {
    left: 901px;
    top: 191px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(34) {
    left: 901px;
    top: 274px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(35) {
    left: 901px;
    top: 357px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(36) {
    left: 901px;
    top: 440px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(37) {
    left: 901px;
    top: 523px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(38) {
    left: 901px;
    top: 606px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(39) {
    left: 901px;
    top: 689px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cell:nth-child(40) {
    left: 901px;
    top: 772px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.property {
    /* border-top: 3px solid black; */
}

.property:before {
    content: '';
    display: block;
    height: 20%;
    /* border-bottom: 3px solid black; */
}

.property.brown:before {
    background-color: rgb(149, 84, 54);
}

.property.light-blue:before {
    background-color: rgb(170, 224, 250);
}

.property.pink:before {
    background-color: rgb(217, 58, 150);
}

.property.orange:before {
    background-color: rgb(247, 148, 29);
}

.property.red:before {
    background-color: rgb(231, 26, 35);
}

.property.yellow:before {
    background-color: rgb(254, 242, 0);
}

.property.green:before {
    background-color: rgb(31, 178, 90);
}

.property.dark-blue:before {
    background-color: rgb(0, 114, 187);
}

.cell.station {
    background-image: url(/images/station.gif);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 50%;
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.chance {
    background-image: url(/images/chance.gif);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center 40%;
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.community-chest {
    background-image: url(/images/community-chest.gif);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 40%;
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.electric-company {
    background-image: url(/images/electric-company.gif);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center 40%;
    border-top: 3px solid black;
}

.water-works {
    background-image: url(/images/water-works.gif);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 40%;
    border-top: 3px solid black;
}

.go-to-jail h3:nth-child(1) {
    width: 100%;
    top: 23%;
    left: 75%;
    font-size: 14px;
}

.go-to-jail h3:nth-child(2) {
    width: 100%;
    top: 75%;
    left: 23%;
    font-size: 14px;
}

.go-to-jail:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/go-to-jail.gif);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.free-parking:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/free-parking.gif);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.free-parking h3:nth-child(1) {
    width: 100%;
    top: 23%;
    left: 75%;
    font-size: 14px;
}

.free-parking h3:nth-child(2) {
    width: 100%;
    top: 72%;
    left: 28%;
    font-size: 14px;
}

.jail {
    background-image: url(/images/jail.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.go {
    background-image: url(/images/go.gif);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 40% 40%;
}

.income-tax {
    border-top: 3px solid black;
}

.income-tax:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-60%, -50%) rotate(45deg);
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    border: 2px solid rgb(205, 230, 208);
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}

.super-tax {
    background-image: url(/images/super-tax.gif);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 50%;
    border-left: 3px solid black;
}

i {
    display: block;
    position: relative;
}

i:before {
    content: '';
    display: block;
    height: 50%;
}

i:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

i.house {
    background-color: rgb(62, 163, 99);
    width: 40px;
    height: 25px;
}

i.house:before {
    background-color: rgb(36, 109, 63);
    background-image: linear-gradient(rgb(36, 109, 63), rgb(52, 143, 89));
}

i.house:after {
    height: 8px;
    width: 8px;
    background-color: rgb(62, 163, 99);
}

i.hotel {
    background-color: rgb(245, 76, 72);
    width: 50px;
    height: 30px;
}

i.hotel:before {
    background-color: rgb(188, 43, 46);
    background-image: linear-gradient(rgb(188, 43, 46), rgb(232, 53, 69));
}

i.hotel:after {
    height: 10px;
    width: 10px;
    background-color: rgb(245, 76, 72);
}

.card {
    width: 400px;
    height: 270px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin: 5px;
    perspective: 1000px;
    transition: all 350ms;
    transform-style: preserve-3d;
    transform: scale(0.5) translateX(-50%) translateY(-50%);
    -webkit-transform: scale(0.5) translateX(-50%) translateY(-50%);
    -moz-transform: scale(0.5) translateX(-50%) translateY(-50%);
    -ms-transform: scale(0.5) translateX(-50%) translateY(-50%);
}

.card.active {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
}

.card h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    padding-top: 30%;
    margin: 0 auto;
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card .front {
    transform: rotateY(180deg);
}

.card .back {
    transform: rotateY(0deg);
}

.card-space {
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    width: 210px;
    height: 145px;
    z-index: 2;
}

.chance-card-space {
    top: 660px;
    left: 626px;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.chance-card {
    background-color: rgb(255, 191, 142);
}

.chance-card.active {
    transform: rotateY(180deg) rotateZ(-45deg) translateX(340px) translateY(-200px);
}

.community-chest-card-space {
    top: 210px;
    left: 180px;
    -ms-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.community-chest-card {
    background-color: rgb(255, 170, 138);
}

.community-chest-card.active {
    transform: rotateY(180deg) rotateZ(-225deg) translateX(-340px) translateY(200px);
}

div.die {
    width: 46px;
    height: 46px;
    border-radius: 5px;
    /* position: absolute; */
    /* top: 480px; */
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    margin: 0 auto 40px;
}

div.die.one {
    left: 450px;
}

div.die.two {
    left: 510px;
}

div.die .cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 100ms;
    -moz-transition: -moz-transform 100ms;
    -o-transition: -o-transform 100ms;
    transition: transform 100ms;
}

div.die .cube>div {
    width: 46px;
    height: 46px;
    display: block;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    line-height: 46px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-image: url(/images/dice-faces.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

div.die .cube .front {
    -webkit-transform: rotateY(0deg) translateZ(25px);
    -moz-transform: rotateY(0deg) translateZ(25px);
    -o-transform: rotateY(0deg) translateZ(25px);
    transform: rotateY(0deg) translateZ(25px);
    background-position: 0 0;
}

div.die .cube .back {
    -webkit-transform: rotateX(180deg) translateZ(25px);
    -moz-transform: rotateX(180deg) translateZ(25px);
    -o-transform: rotateX(180deg) translateZ(25px);
    transform: rotateX(180deg) translateZ(25px);
    background-position: -258px 0;
}

div.die .cube .right {
    -webkit-transform: rotateY(90deg) translateZ(25px);
    -moz-transform: rotateY(90deg) translateZ(25px);
    -o-transform: rotateY(90deg) translateZ(25px);
    transform: rotateY(90deg) translateZ(25px);
    background-position: -52px 0;
}

div.die .cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(25px);
    -moz-transform: rotateY(-90deg) translateZ(25px);
    -o-transform: rotateY(-90deg) translateZ(25px);
    transform: rotateY(-90deg) translateZ(25px);
    background-position: -206px 0;
}

div.die .cube .top {
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
    background-position: -103px 0;
}

div.die .cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -moz-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
    transform: rotateX(-90deg) translateZ(25px);
    background-position: -155px 0;
}

div.die.show-1 .cube {
    -webkit-transform: translateZ(-25px) rotateY(0deg);
    -moz-transform: translateZ(-25px) rotateY(0deg);
    -o-transform: translateZ(-25px) rotateY(0deg);
    transform: translateZ(-25px) rotateY(0deg);
}

div.die.show-6 .cube {
    -webkit-transform: translateZ(-25px) rotateX(-180deg);
    -moz-transform: translateZ(-25px) rotateX(-180deg);
    -o-transform: translateZ(-25px) rotateX(-180deg);
    transform: translateZ(-25px) rotateX(-180deg);
}

div.die.show-2 .cube {
    -webkit-transform: translateZ(-25px) rotateY(-90deg);
    -moz-transform: translateZ(-25px) rotateY(-90deg);
    -o-transform: translateZ(-25px) rotateY(-90deg);
    transform: translateZ(-25px) rotateY(-90deg);
}

div.die.show-5 .cube {
    -webkit-transform: translateZ(-25px) rotateY(90deg);
    -moz-transform: translateZ(-25px) rotateY(90deg);
    -o-transform: translateZ(-25px) rotateY(90deg);
    transform: translateZ(-25px) rotateY(90deg);
}

div.die.show-3 .cube {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
    -moz-transform: translateZ(-25px) rotateX(-90deg);
    -o-transform: translateZ(-25px) rotateX(-90deg);
    transform: translateZ(-25px) rotateX(-90deg);
}

div.die.show-4 .cube {
    -webkit-transform: translateZ(-25px) rotateX(90deg);
    -moz-transform: translateZ(-25px) rotateX(90deg);
    -o-transform: translateZ(-25px) rotateX(90deg);
    transform: translateZ(-25px) rotateX(90deg);
}

.player-input {
    display: flex;
    height: 20px;
    padding: 10px;
}

.title {
    flex:1;
    max-width: 70px;
}
.filed {
    flex:3
}
.createPanel{
    padding:10px;
    background-color:aqua;
    width: 50%;
    margin-left: 22% !important;
}

#control{
    position: absolute;
    top: 50%;
    left: 25%;
}

#alert{
    overflow: auto;
}

.row {
    display: flex;
    flex-direction: row;
}
.item {
    flex:1;
    margin: 0px 2px;
}

.input {
    width: 100%;
    height: 22px;
}

.button{
    background-color: green;
    border: none;
    height: 24px;
    color:white;
    border-radius: 5px;
    outline: none;
    width: 79px;
    margin: 5px;
}
.community-chest-card {
    background-color: rgb(255,170,138);
  }
   